<h1>Index</h1>
<% @todos.each do |todo| %>
  <ul class="list-group">
    <li class="list-group-item"><%= todo.description %>-Completed <%= todo.completed %>-  <%= link_to "Show", todo_path(todo) %>-<%= link_to "Edit", edit_todo_path(todo) %>-<%= link_to "Destroy", todo_path(todo), method: :delete %></li>
  </ul>
<% end %>

<%= link_to "Crear ToDo.", new_todo_path %>